<div class='modal-header'>
    <h4 class='modal-title'>{{id_car? 'Modificare' : 'Adăugare'}} masina</h4>
  </div>
  
  <div class='modal-body'>
    <div class='row'>
      <label class='col-2 control-label'>Marca</label>
      <div class='col-9'>
        <input [(ngModel)]='modal.marca' class='form-control' placeholder='Marca...' maxlength='255' />
      </div>
    </div>
  
    <div class='row'>
        <label class='col-2 control-label'>Model</label>
        <div class='col-9'>
          <input [(ngModel)]='modal.model' class='form-control' placeholder=' Model...' maxlength='255' />
        </div>
      </div>

    <div class='row'>
        <label class='col-2 control-label'>An Fabricatie</label>
        <div class='col-9'>
          <input [(ngModel)]='modal.an_fabricatie' class='form-control' placeholder='An fabricatie...' maxlength='4' />
        </div>
    </div>

    <div class='row'>
        <label class='col-2 control-label'>Capacitate Cilindrica</label>
        <div class='col-9'>
          <input [(ngModel)]='modal.capacitate_cilindrica' class='form-control' placeholder='Capacitate cilindrica...' maxlength='4' />
        </div>
    </div>

    
    <div class='row'>
        <label class='col-2 control-label'>Taxa impozit</label>
        <div class='col-9'>
          <input [(ngModel)]='modal.taxa_impozit' class='form-control' placeholder='Taxa impozit...' maxlength='3' />
        </div>
    </div>

  </div>
  
  <div class='modal-footer'>
    <button type='button' class='btn btn-outline-dark' (click)='activeModal.dismiss()'>Renunță</button>
    <button type='button' class='btn btn-success' (click)='save()'>Salvează</button>
  </div>