<div class='modal-header'>
    <h4 class='modal-title'>{{id_person? 'Modificare' : 'Adăugare'}} persoana</h4>
  </div>
  
  <div class='modal-body'>
    <div class='row'>
      <label class='col-2 control-label'>Nume</label>
      <div class='col-9'>
        <input [(ngModel)]='modal.last_name' class='form-control' placeholder='Nume...' maxlength='255' />
      </div>
    </div>
  
    <div class='row'>
        <label class='col-2 control-label'>Prenume</label>
        <div class='col-9'>
          <input [(ngModel)]='modal.first_name' class='form-control' placeholder='Prenume...' maxlength='255' />
        </div>
      </div>

    <div class='row'>
        <label class='col-2 control-label'>CNP</label>
        <div class='col-9'>
          <input [(ngModel)]='modal.cnp' class='form-control' placeholder='CNP...' maxlength='13' />
        </div>
    </div>

    <div class='row'>
        <label class='col-2 control-label'>Varsta</label>
        <div class='col-9'>
          <input [(ngModel)]='modal.varsta' class='form-control' placeholder='Denumire...' maxlength='3' />
        </div>
    </div>

    <div class='row'>
        <label class='col-2 control-label'>Masini</label>
        <div class='col-9'>
            <ng-select
            [items]="cars"
            [(ngModel)]="modal.cars"
            bindLabel="marca"
            bindValue="id"
            [clearAllText]="dropDownSettings.clearAllText"
            [clearable]="dropDownSettings.clearable"
            [closeOnSelect]="dropDownSettings.closeOnSelect"
            [loading]="dropDownSettings.loading"
            [loadingText]="dropDownSettings.loadingText"
            [maxSelectedItems]="dropDownSettings.maxSelectedItems"
            [multiple]="dropDownSettings.multiple"
            [notFoundText]="dropDownSettings.notFoundText"
            [placeholder]="dropDownSettings.placeholder"
            [searchable]="dropDownSettings.searchable"
            [virtualScroll]="dropDownSettings.virtualScroll"
          >
          </ng-select>
        </div>
    </div>

  </div>
  
  <div class='modal-footer'>
    <button type='button' class='btn btn-outline-dark' (click)='activeModal.dismiss()'>Renunță</button>
    <button type='button' class='btn btn-success' (click)='save()'>Salvează</button>
  </div>